
body {
    background-color: cadetblue;
    font-family: sans-serif;
}


form {
    display: flex;
    flex-direction: column;
    margin: 10%;
}

form > label {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-weight: bold;
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 25px;
}

label label {
    background-color: white;
    font-weight: normal;
}

input {
    max-width: 120px;
    margin: 8px;
}

span {
    background-color: rgb(243, 228, 147);
    padding: 8px;
    border-radius: 25px;
}

h1 {
    color: white;
}

.btn {
    display: block;
    background-color: white;
    border-radius: 25px;
    padding: 16px;
    font-size: x-large;
    text-align: center;
    color: black;
    font-weight: bold;
    border: none;
    margin: 8px;
    text-decoration: none;
}

#button_group {
    display: flex;
}

#quiz_result {
    color: white;
    font-size: x-large;
}