
body {
    background-color: cadetblue;
}


form {
    display: flex;
    flex-direction: column;
}

form > label {
    display: flex;
    flex-direction: column;
    height: 32px;
    background-color: lightgray;
}

label label {
    background-color: white;
}

input {
    max-width: 120px;
}